#contenido{
  text-align: center;
}

hr{
  display: inline-block;
  float: left;
  width: 0px;
  height: 380px;
}

form {
  margin-bottom: 230px;
  height: 62px;
}

#primeraColumna label{
  margin-bottom: 15px;
  display:block;
  font-weight:bold;
}

#segundaColumna {
  margin-top: 0;
}

#infoReserva {
  height: 286px;
  width: 347px;
}

#eliminar {
    bottom: 40px;
    position: absolute;
    margin-left: -40px;
}

#redimir{
    bottom: 180px;
    position: absolute;
    margin-left: -40px;
}



#cancelar{
    bottom: 30px;
    position: absolute;
    margin-left: 670px;
}

.fa-search{
    float:right;
    cursor: pointer;
   
}

.botonesB {
  width: 250px;
  height: 100px;
  display: inline-block;
  background-color: rgba(65,90,61,0.3);
  margin: 35px 30px;
  text-align: center;
  vertical-align: center;
  color: #000;
  border: 3px solid #A9A9A9;
  border-collapse: collapse;
}

.columna {
  float: left;
  margin: 25px 66px;
}

#buttoms span{
  font-size: 22px;
}

#buttoms i {
    font-size: 50px;
    display: block;
    margin: 10px 0px 0px 0px;
    color: #FA023C;
}


.dato {
  width: 171px;
  text-align: left;
}


.titulo{
    text-align: left;
    width: 215px;
    font-weight: bold;
}

#msjError{
  left: 172px;
  margin: 15px 188px 0;
}
