form{
	display: inline-block;
	padding-left: 50px;
	margin-top: 25px;
}

h1{
	text-align: center;
}

label{
	color: #040004;
}

label, input{
	display: block;
	font-family: sans-serif;
}

#contenido{
	text-align: left;
}

#informacion{
	height: 325px;
}

#txtDireccion{
	resize: none;
}

#botones{
	margin: 25px -15px 0 0;
  	float: right;
}

.boton{
  	width: 64px;
    margin-right: 10px;
}

.formColumna{
	float:left;
	margin: 0 40px 0 35px;
}

.datos{
	margin: 0 0 36px 0;
}

.datos a{
	color: #4B000F;
	font-size: 14px;
}