.contenedorConfiguracion{
	float: right;
	margin: 10px 50px 0 0;
}
.listaConfiguracion{
	list-style-type: none;
}
.listaConfiguracion li{
	margin: 20px;
	background-color: #FA023C;
	text-align: center;
	padding: 8px;
	color: #ecf0f1;
}
.listaConfiguracion a{
	text-decoration: none;
	color: #040004;
}
.tabla{
	float: left;
	text-align: center;
	margin: 30px 0 0 70px;
	border: 1px solid #A9A9A9;
	border-collapse: collapse;
}
.tabla thead{
	background: #c3c3c3;
	color: #ECF0F1;
	display: none;
}
.tabla th, td{
	padding: 5px;
	border: 1px solid #A9A9A9;
	font-weight: normal;

}
.tabla tbody tr:nth-child(even){
	background: #c3c3c3;
}
.columna1{
	width: 300px;
	height: 28px;
}
.columna2{
	width: 200px;
}